﻿@model List<DataScrapping.DatabaseLayer.Model.CarAds>
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dubizzle Cars Data</title>
    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom /styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Cars Data<sup>1</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Websites
            </div>

            <!-- Nav Item - Charts -->
            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Dubizzle Cars </span>
                </a>
            </li>

            @*<li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Charts</span>
                    </a>
                </li>*@
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                        </li>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                     src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="Home/Login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Dubizzle Cars Scrapped data</h1>
                    @*<p class="mb-4">

                        </p>*@

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="p-0">
                                <form class="" method="post" action="/Home/AdsData">
                                    <div class="row m-b-xs form-group">
                                        <div class="col-4">
                                            <h6 class="m-0 font-weight-bold text-primary">Basic</h6>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Vehicle Type</label>
                                                <select class="custom-select mr-sm-2" name="CarType">
                                                    <option value="" selected>Vehicle Type</option>
                                                    <option value="Car">Car</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Make</label>
                                                <select class="custom-select mr-sm-2" name="Make">
                                                    <option value="" selected>Select Make</option>
                                                    @if (ViewBag.CarMakersList != null && ViewBag.CarMakersList.Count > 0)
                                                        for (int i = 0; i < ViewBag.CarMakersList.Count; i++)
                                                        {
                                                            <option value="@(ViewBag.CarMakersList[i].CompanyName)">@(ViewBag.CarMakersList[i].CompanyName)</option>
                                                        }
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Model</label>
                                                <select class="custom-select mr-sm-2" name="MakeModel">
                                                    <option value="" selected>Select Make Model</option>
                                                    @if (ViewBag.MakeModelsList != null && ViewBag.MakeModelsList.Count > 0)
                                                        for (int i = 0; i < ViewBag.MakeModelsList.Count; i++)
                                                        {
                                                            <option value="@(ViewBag.MakeModelsList[i].ModelName)">@(ViewBag.MakeModelsList[i].ModelName)</option>
                                                        }
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Specs.</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="Specs">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="GCC">GCC</option>
                                                    <option value="Import">Import</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">No. of Gears</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <h6 class="m-0 font-weight-bold text-primary">Engine</h6>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Engine Size.</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="EngineSize">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="4.0L">4.0 L</option>
                                                    <option value="5.0L">5.0 L</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">No of Cylinders.</label>
                                                <select class="custom-select mr-sm-2" name="NoOfCylinder">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="trim">Trim</label>
                                                <select class="custom-select mr-sm-2" name="Trim" id="Trim">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="TX">TX</option>
                                                    <option value="PE">PE</option>
                                                    <option value="SQ5 Quattro">SQ5 Quattro</option>
                                                    <option value="GX TOP">GX TOP</option>
                                                    <option value="120i Sport-line">120i Sport-line</option>
                                                    <option value="435i Sport-line">435i Sport-line</option>
                                                    <option value="Turbo">Turbo</option>
                                                    <option value="116i Sport-line">116i Sport-line</option>
                                                    <option value="xDrive50i Luxury-Line">xDrive50i Luxury-Line</option>
                                                    <option value="xDrive35i">xDrive35i</option>
                                                    <option value="sDrive35i">sDrive35i</option>
                                                    <option value="S Platinum">S Platinum</option>
                                                    <option value="730li Exclusive">730li Exclusive</option>
                                                    <option value="650i M Sport">650i M Sport</option>
                                                    <option value="428i">428i</option>
                                                    <option value="320i Executive">320i Executive</option>
                                                    <option value="328D">328D</option>
                                                    <option value="750i Executive">750i Executive</option>
                                                    <option value="750Li">750Li</option>
                                                    <option value="135i">135i</option>
                                                    <option value="GXR MID">GXR MID</option>
                                                    <option value="Turbo S Cabriolet">Turbo S Cabriolet</option>
                                                    <option value="330i Executive">330i Executive</option>
                                                    <option value="WRX STI">WRX STI</option>
                                                    <option value="GLX Plus">GLX Plus</option>
                                                    <option value="50i Pure Excellence">50i Pure Excellence</option>
                                                    <option value="VX TOP">VX TOP</option>
                                                    <option value="M8 Gran Coupe">M8 Gran Coupe</option>
                                                    <option value="428i Sport-line">428i Sport-line</option>
                                                    <option value="Veloce">Veloce</option>
                                                    <option value="STI">STI</option>
                                                    <option value="740Li xDrive">740Li xDrive</option>
                                                    <option value="125i">125i</option>
                                                    <option value="750li Luxury">750li Luxury</option>
                                                    <option value="PE 4X2">PE 4X2</option>
                                                    <option value="Turbo Cabriolet">Turbo Cabriolet</option>
                                                    <option value="L W12">L W12</option>
                                                    <option value="Xdrive 40i">Xdrive 40i</option>
                                                    <option value="520i">520i</option>
                                                    <option value="Tx-l TOP">Tx-l TOP</option>
                                                    <option value="sDrive20i">sDrive20i</option>
                                                    <option value="640i Gran Coupe Excellence">640i Gran Coupe Excellence</option>
                                                    <option value="740li Exclusive">740li Exclusive</option>
                                                    <option value="GTS">GTS</option>
                                                    <option value="Spyder">Spyder</option>
                                                    <option value="730Li">730Li</option>
                                                    <option value="640i Gran Coupe">640i Gran Coupe</option>
                                                    <option value="S">S</option>
                                                    <option value="320i">320i</option>
                                                    <option value="GLX MT">GLX MT</option>
                                                    <option value="740li Executive">740li Executive</option>
                                                    <option value="550i Exclusive">550i Exclusive</option>
                                                    <option value="GTS RS">GTS RS</option>
                                                    <option value="40i M Sport">40i M Sport</option>
                                                    <option value="PE 4X4">PE 4X4</option>
                                                    <option value="Sdrive18i">Sdrive18i</option>
                                                    <option value="650ci">650ci</option>
                                                    <option value="XLE">XLE</option>
                                                    <option value="435i Gran Coupe">435i Gran Coupe</option>
                                                    <option value="4S">4S</option>
                                                    <option value="4">4</option>
                                                    <option value="C TOP">C TOP</option>
                                                    <option value="S-Line Sports">S-Line Sports</option>
                                                    <option value="520i Exclusive">520i Exclusive</option>
                                                    <option value="116i">116i</option>
                                                    <option value="LE">LE</option>
                                                    <option value="Carrera Cabriolet">Carrera Cabriolet</option>
                                                    <option value="745i">745i</option>
                                                    <option value="Limited">Limited</option>
                                                    <option value="VX">VX</option>
                                                    <option value="X5M">X5M</option>
                                                    <option value="L">L</option>
                                                    <option value="MT">MT</option>
                                                    <option value="4.8i">4.8i</option>
                                                    <option value="Carrera 4">Carrera 4</option>
                                                    <option value="GT4">GT4</option>
                                                    <option value="Carrera">Carrera</option>
                                                    <option value="Distinctive">Distinctive</option>
                                                    <option value="318i">318i</option>
                                                    <option value="650i xDrive Excellence">650i xDrive Excellence</option>
                                                    <option value="Alpina B7">Alpina B7</option>
                                                    <option value="40i Pure Excellence">40i Pure Excellence</option>
                                                    <option value="VX MID">VX MID</option>
                                                    <option value="2.5i">2.5i</option>
                                                    <option value="850i">850i</option>
                                                    <option value="328i Standard">328i Standard</option>
                                                    <option value="JX">JX</option>
                                                    <option value="Macan S">Macan S</option>
                                                    <option value="Dzire">Dzire</option>
                                                    <option value="EXR">EXR</option>
                                                    <option value="650i Gran Coupe Excellence">650i Gran Coupe Excellence</option>
                                                    <option value="GLX AT">GLX AT</option>
                                                    <option value="750Li xDrive">750Li xDrive</option>
                                                    <option value="JLX">JLX</option>
                                                    <option value="Top">Top</option>
                                                    <option value="Prestige">Prestige</option>
                                                    <option value="Carrera S Cabriolet">Carrera S Cabriolet</option>
                                                    <option value="650i">650i</option>
                                                    <option value="740li Luxury">740li Luxury</option>
                                                    <option value="Single Cabine GL">Single Cabine GL</option>
                                                    <option value="840i">840i</option>
                                                    <option value="760Li xDrive">760Li xDrive</option>
                                                    <option value="Sport">Sport</option>
                                                    <option value="Quadrifoglio">Quadrifoglio</option>
                                                    <option value="Xdrive28i">Xdrive28i</option>
                                                    <option value="M4">M4</option>
                                                    <option value="750i">750i</option>
                                                    <option value="GLX">GLX</option>
                                                    <option value="Prado VXR">Prado VXR</option>
                                                    <option value="440i">440i</option>
                                                    <option value="220i">220i</option>
                                                    <option value="Premium">Premium</option>
                                                    <option value="Standard">Standard</option>
                                                    <option value="GXR">GXR</option>
                                                    <option value="Double Cab GLX">Double Cab GLX</option>
                                                    <option value="650i Gran Coupe M Sport">650i Gran Coupe M Sport</option>
                                                    <option value="GX MID">GX MID</option>
                                                    <option value="640i Gran Coupe M Sport">640i Gran Coupe M Sport</option>
                                                    <option value="DLX">DLX</option>
                                                    <option value="VT">VT</option>
                                                    <option value="Turbo S">Turbo S</option>
                                                    <option value="430i">430i</option>
                                                    <option value="Xdrive35i Exclusive">Xdrive35i Exclusive</option>
                                                    <option value="730i">730i</option>
                                                    <option value="V12 Coupe">V12 Coupe</option>
                                                    <option value="Extended Wheel Base">Extended Wheel Base</option>
                                                    <option value="TRD Sportivo">TRD Sportivo</option>
                                                    <option value="GA">GA</option>
                                                    <option value="M6 Gran Coupe">M6 Gran Coupe</option>
                                                    <option value="Special Edition">Special Edition</option>
                                                    <option value="640i">640i</option>
                                                    <option value="120i">120i</option>
                                                    <option value="High Roof">High Roof</option>
                                                    <option value="DLX TOP">DLX TOP</option>
                                                    <option value="X6M">X6M</option>
                                                    <option value="4 Edition">4 Edition</option>
                                                    <option value="Carrera S">Carrera S</option>
                                                    <option value="RS Q8">RS Q8</option>
                                                    <option value="320i Standard">320i Standard</option>
                                                    <option value="630i">630i</option>
                                                    <option value="M5">M5</option>
                                                    <option value="740i">740i</option>
                                                    <option value="SE+">SE+</option>
                                                    <option value="640i Excellence">640i Excellence</option>
                                                    <option value="520i Executive">520i Executive</option>
                                                    <option value="420i Gran Coupe">420i Gran Coupe</option>
                                                    <option value="WRX">WRX</option>
                                                    <option value="Coupe">Coupe</option>
                                                    <option value="Luxury">Luxury</option>
                                                    <option value="335i">335i</option>
                                                    <option value="GXR Plus">GXR Plus</option>
                                                    <option value="325i">325i</option>
                                                    <option value="V8 Coupe">V8 Coupe</option>
                                                    <option value="Xdrive35i Executive">Xdrive35i Executive</option>
                                                    <option value="WRX STI Premium">WRX STI Premium</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Platinum Edition">Platinum Edition</option>
                                                    <option value="428i Luxury-line">428i Luxury-line</option>
                                                    <option value="750i xDrive">750i xDrive</option>
                                                    <option value="Carrera 4S">Carrera 4S</option>
                                                    <option value="VXR">VXR</option>
                                                    <option value="735i">735i</option>
                                                    <option value="SE Plus">SE Plus</option>
                                                    <option value="GX">GX</option>
                                                    <option value="Sedan">Sedan</option>
                                                    <option value="420i">420i</option>
                                                    <option value="X4M">X4M</option>
                                                    <option value="740Li">740Li</option>
                                                    <option value="GT3">GT3</option>
                                                    <option value="RS">RS</option>
                                                    <option value="750li Exclusive">750li Exclusive</option>
                                                    <option value="535i Executive">535i Executive</option>
                                                    <option value="328i Sport-line">328i Sport-line</option>
                                                    <option value="540i">540i</option>
                                                    <option value="328i">328i</option>
                                                    <option value="GT12">GT12</option>
                                                    <option value="xDrive50i M Sport">xDrive50i M Sport</option>
                                                    <option value="523i">523i</option>
                                                    <option value="530i">530i</option>
                                                    <option value="GLS">GLS</option>
                                                    <option value="GT">GT</option>
                                                    <option value="Spider">Spider</option>
                                                    <option value="535i">535i</option>
                                                    <option value="GL">GL</option>
                                                    <option value="528i">528i</option>
                                                    <option value="228i">228i</option>
                                                    <option value="Roadster">Roadster</option>
                                                    <option value="Drophead">Drophead</option>
                                                    <option value="3.0i">3.0i</option>
                                                    <option value="SE">SE</option>
                                                    <option value="545i">545i</option>
                                                    <option value="LE Leather">LE Leather</option>
                                                    <option value="Standard S">Standard S</option>
                                                    <option value="MID">MID</option>
                                                    <option value="330i Exclusive">330i Exclusive</option>
                                                    <option value="550i">550i</option>
                                                    <option value="NULL">NULL</option>
                                                    <option value="230i">230i</option>
                                                    <option value="340i">340i</option>
                                                    <option value="525i">525i</option>
                                                    <option value="M5 Competition">M5 Competition</option>
                                                    <option value="523i Exclusive">523i Exclusive</option>
                                                    <option value="730li Executive">730li Executive</option>
                                                    <option value="118i">118i</option>
                                                    <option value="535i Exclusive">535i Exclusive</option>
                                                    <option value="Black Badge">Black Badge</option>
                                                    <option value="xDrive35i M Sport">xDrive35i M Sport</option>
                                                    <option value="S-line">S-line</option>
                                                    <option value="Xdrive50i">Xdrive50i</option>
                                                    <option value="330i">330i</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">H.P</label>
                                                <select class="custom-select mr-sm-2" name="Horsepower">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="Less than 150 HP">Less than 150 HP</option>
                                                    <option value="150 - 200 HP">150 - 200 HP</option>
                                                    <option value="200 - 300 HP">200 - 300 HP</option>
                                                    <option value="300 - 400 HP">300 - 400 HP</option>
                                                    <option value="400 - 500 HP">400 - 500 HP</option>
                                                    <option value="Unknown">Unknown</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Fuel Type</label>
                                                <select class="custom-select mr-sm-2" name="FuelType">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="Gasoline">Gasoline</option>
                                                    <option value="Diesel">Diesel</option>
                                                    <option value="Petrol">Petrol</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-4 my-1 mt-3 mb-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Transmission</h6>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Transmission Type</label>
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                    <option value="" selected>Choose...</option>
                                                    <option value="Automatic">Automatic</option>
                                                    <option value="Manual">Manual</option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Selling Price</label>
                                                <div class="col-auto">
                                                    <label class="sr-only" for="inlineFormInput">Price From</label>
                                                    <input type="text" class="form-control mb-2" id="priceFrom" name="priceFrom" placeholder="Price From" value="">
                                                </div>
                                                <div class="col-auto">
                                                    <label class="sr-only" for="inlineFormInput">Price From</label>
                                                    <input type="text" class="form-control mb-2" id="priceTo" name="priceTo" placeholder="Price To" value="">
                                                </div>
                                            </div>
                                            <div class="col-auto my-1 mt-3 mb-3">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Car Mileage</label>
                                                <div class="col-auto">
                                                    <label class="sr-only" for="mileageFrom">Mileage From</label>
                                                    <input type="text" class="form-control mb-2" id="mileageFrom" placeholder="Mileage From" name="mileageFrom" value="">
                                                </div>
                                                <div class="col-auto">
                                                    <label class="sr-only" for="mileageTo">Mileage To</label>
                                                    <input type="text" class="form-control mb-2" id="mileageTo" placeholder="Mileage To" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-lg btn-info m-auto" type="submit">Apply Filters</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width:17px;">
                                                Sr#
                                            </th>
                                            <th>Car Ad Title</th>
                                            <th>Make</th>
                                            <th>Model</th>
                                            <th>Make Year</th>
                                            <th>Color</th>
                                            <th>Mileage</th>
                                            <th>Selling Price</th>
                                            <th style="width:30px;"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="width:20px;">
                                                Sr#
                                            </th>
                                            <th>Car Ad Title</th>
                                            <th>Make</th>
                                            <th>Model</th>
                                            <th>Make Year</th>
                                            <th>Color</th>
                                            <th>Mileage</th>
                                            <th>Selling Price</th>
                                            <th style="width:30px;"></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @if (Model != null && Model.Count > 0)
                                        {
                                            for (int i = 0; i < Model.Count; i++)
                                            {
                                                <tr>
                                                    <td>@(i+1)</td>
                                                    <td> @Model[i].Title</td>
                                                    <td>@Model[i].Make</td>
                                                    <td>@Model[i].Model</td>
                                                    <td>@Model[i].MakeYear</td>
                                                    <td>@Model[i].Color</td>
                                                    <td>@Model[i].Millage</td>
                                                    <td> @Model[i].SellingPrice</td>
                                                    <td> </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="9">No record found.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="Home/Login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>

